// Config-level settings (environment switches, debugging modes, etc.).
$config: (
	env: dev,
	healthcheck: false,
	debug: false,
);
@function config($key) {
	@return map-get($config, $key);
}

//Layout
$grid-size: 12;
$grid-padding: 15px;

$xs: 0px;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1396px;
// $xxl: 1600px;
$breakpoints: (
	xs: $xs,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);
$breakpoints-spacing: (
	xs: $grid-padding,
	sm: $grid-padding,
	md: $grid-padding,
	lg: $grid-padding,
	xl: $grid-padding
);

//Fonts
$global-font-size: 16px;
$browser-context: 16;

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";

//Colours
$colors: (
	orange: (
		base: #FFB63D,
		dark: #F96600
	),
	grey: (
		base: #666666,
		dark: #313131
	)
);
@function color($color, $tone: 'base') {
	@return map-get(map-get($colors, $color), $tone);
}