.c-button {
	appearance: none;
	border: none;
	display: inline-block;
	font-size: rem(16);
	line-height: rem(20);
	font-weight: 400;
	padding: 13px 35px;
	border-radius: 30px;
	margin: 0 15px;

	//Default styles
	background-color: color(orange, dark);
	color: #ffffff;

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		cursor: not-allowed;
		pointer-events: none;
		opacity: .8;
	}

	&:first-of-type {
		margin-left: 0;
	}
	&:last-of-type {
		margin-right: 0;
	}

	@media (max-width: $md - 1px){
		padding: 13px 25px;
	}
}

button.c-button {
	&:hover {
		cursor: pointer;
	}
}