.c-modal {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	opacity: 0;
	pointer-events: none;
	transition: 0.2s;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;

		background-color: rgba(0, 0, 0, 0.3);
	}

	&__content {
		display: none;
		position: relative;
		z-index: 1;

		background-color: #FFF;
		
		padding: rem(30);
		width: 100%;
		max-width: 800px;
		max-height: calc(100vh - 100px);
		overflow-y: auto;

		&__title {
			display: flex;
			align-items: center;
			margin-bottom: rem(30);

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 0 auto 0 0;
				padding-right: rem(25);
			}

			.c-modal__close {
				display: block;
				width: 30px;
				height: 30px;
				background-image: url('../images/close.svg');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				cursor: pointer;
			}
			button.c-modal__close {
				appearance: none;
				background-color: transparent;
				border: none;
			}
		}

		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.is-active {
		opacity: 1;
		pointer-events: all;

		.c-modal__content {
			display: block;
		}
	}

	@media (max-width: ($md - 1px)){
		.c-modal__content {
			max-height: 100%;
			max-width: 100%;
		}
	}
}